<!DOCTYPE html>
{% load bootstrap_toolkit %}
{% load url from future %}
{% load staticfiles %}
{% load widgets %}
{% load compress %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    {% block extra_head %}{% endblock %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="{% static 'css/animate.css' %}" rel="stylesheet">
    <script src="{% static 'js/modernizr.custom.js' %}"></script>
</head>
<body id="top">
<header class="cd-header">
    <div id="cd-logo"><h1><a href="{% url 'loka.views.home' %}">Loka</a></h1></div>

    <nav class="cd-main-nav">
        <ul>
            <!-- inser more links here -->
            <li><a href="{% url 'loka.views.guide' %}">Guide</a></li>
            <li><a href="{% url 'loka.views.map_page' %}">Territory Map</a></li>
            <li><a href="{% url 'loka.views.townslist' %}">Towns</a></li>
            <li><a href="{% url 'loka.views.pvp' %}">PvP</a></li>
            <li><a href="forums/">Forums</a></li>
            <li><a href="http://loka.wikia.com/wiki/Loka_Wiki">Wiki</a></li>
            {% if user.is_authenticated %}
                {% player_avatar_sm user as avatar %}
                <li><a href="#">
                    {% if avatar %}
                        <img src="{% static 'media/' %}{{ avatar }}" class="header-avatar"/>
                    {% else %}
                        <img src="{% static 'images/steve.png' %}" class="header-avatar"/>
                    {% endif %}</a>
                </li>
            {% else %}
                <li><a class="cd-signin" href="#0">Log out</a></li>
            {% endif %}
        </ul>
    </nav>
    <!-- cd-main-nav -->
</header>
<div class="cd-user-modal"> <!-- this is the entire modal form, including the background -->
    <div class="cd-user-modal-container"> <!-- this is the container wrapper -->
        <ul class="cd-switcher">
            <li><a href="#0">Sign in</a></li>
            <li><a href="#0">New account</a></li>
        </ul>

        <div id="cd-login"> <!-- log in form -->
            <form class="cd-form" method="post" action="{% url 'loka.views.home' %}">
                {% csrf_token %}
                <p class="fieldset">
                    <label class="image-replace cd-email" for="signin-email">Username</label>
                    <input class="full-width has-padding has-border" id="signin-email" type="text"
                           placeholder="Username" name="username">
                    <span class="cd-error-message">Error message here!</span>
                </p>

                <p class="fieldset">
                    <label class="image-replace cd-password" for="signin-password">Password</label>
                    <input class="full-width has-padding has-border" id="signin-password" type="text"
                           placeholder="Password" name="password">
                    <a href="#0" class="hide-password">Hide</a>
                    <span class="cd-error-message">Error message here!</span>
                </p>

                {#                <p class="fieldset">#}
                {#                    <input type="checkbox" id="remember-me" checked>#}
                {#                    <label for="remember-me">Remember me</label>#}
                {#                </p>#}

                <p class="fieldset">
                    <input class="full-width" type="submit" value="Login">
                </p>
            </form>

            {#            <form method="post" action="{% url 'loka.views.home' %}">#}
            {#                                    {% csrf_token %}#}
            {#                                    <table>#}
            {#                                        <tr>#}
            {#                                            <td><input name="username" type="text" class="fullwidth"#}
            {#                                                       placeholder="username"/></td>#}
            {#                                        </tr>#}
            {#                                        <tr>#}
            {#                                            <td><input name="password" type="password" class="fullwidth"#}
            {#                                                       placeholder="password"/></td>#}
            {#                                        </tr>#}
            {#                                    </table>#}
            {##}
            {#                                    <input type="submit" value="Login" class="btn btn-primary btn-lg"/>#}
            {#                                    <input type="hidden" name="next" value="{{ next }}"/>#}
            {#                                    <a class="btn btn-warning btn-lg" data-toggle="modal"#}
            {#                                       data-target="#registerModal">Register</a>#}
            {#                                </form>#}

            {#            <p class="cd-form-bottom-message"><a href="#0">Forgot your password?</a></p>#}
            <!-- <a href="#0" class="cd-close-form">Close</a> -->
        </div>
        <!-- cd-login -->

        <div id="cd-signup"> <!-- sign up form -->
            <h1>Log on to Loka!</h1>

            <p>Parts of the website work in tandem with your user account in Minecraft.</p>

            <a href="#0" class="cd-close-form">Close</a>
        </div>
        <!-- cd-signup -->

        <div id="cd-reset-password"> <!-- reset password form -->
            <p class="cd-form-message">Lost your password? Please enter your email address. You will receive a link to
                create a new password.</p>

            <form class="cd-form">
                <p class="fieldset">
                    <label class="image-replace cd-email" for="reset-email">E-mail</label>
                    <input class="full-width has-padding has-border" id="reset-email" type="email" placeholder="E-mail">
                    <span class="cd-error-message">Error message here!</span>
                </p>

                <p class="fieldset">
                    <input class="full-width has-padding" type="submit" value="Reset password">
                </p>
            </form>

            <p class="cd-form-bottom-message"><a href="#0">Back to log-in</a></p>
        </div>
        <!-- cd-reset-password -->
        <a href="#0" class="cd-close-form">Close</a>
    </div>
    <!-- cd-user-modal-container -->
</div>
<!-- cd-user-modal -->
{% block content %}{% endblock %}
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <ul class="legals">
                    <li><a href="#">Loka 2014</a></li>
                    <li><a href="#">Donate</a></li>
                </ul>
            </div>
            <div class="col-md-6 credit">
                <p>Base theme <em>Halcyon Days</em> by <a href="http://www.peterfinlan.com/">Peter Finlan</a></p>
            </div>
        </div>
    </div>
</footer>


{#<section class="text-center" id="responsive">#}
{#    <div class="container-fluid nopadding responsive-services">#}
{#        <div class="wrapper">#}
{#            <div class="iphone">#}
{#                <div class="wp3"></div>#}
{#            </div>#}
{#            <div class="fluid-white"></div>#}
{#        </div>#}
{#        <div class="container designs">#}
{#            <div class="row">#}
{#                <div class="col-md-5 col-md-offset-7">#}
{#                    <div id="servicesSlider">#}
{#                        <ul class="slides">#}
{#                            <li>#}
{#                                <h1 class="arrow">Responsive Design Specialists</h1>#}
{##}
{#                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non#}
{#                                    metus pulvinar imperdiet. Praesent non adipiscing libero. </p>#}
{##}
{#                                <p>#}
{#                                    Mauris ultrices odio vitae nulla ultrices iaculis. Nulla rhoncus odio eu lectus#}
{#                                    faucibus facilisis. Maecenas ornare augue vitae sollicitudin accumsan. </p>#}
{##}
{#                                <p>Etiam eget libero et erat eleifend consectetur a nec lectus. Sed id tellus lorem.#}
{#                                    Suspendisse sed venenatis odio, quis lobortis eros.</p>#}
{#                            </li>#}
{#                            <li>#}
{#                                <h1 class="arrow">Bootstrap Professionals</h1>#}
{##}
{#                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non#}
{#                                    metus pulvinar imperdiet. Praesent non adipiscing libero. </p>#}
{##}
{#                                <p>#}
{#                                    Mauris ultrices odio vitae nulla ultrices iaculis. Nulla rhoncus odio eu lectus#}
{#                                    faucibus facilisis. Maecenas ornare augue vitae sollicitudin accumsan. </p>#}
{##}
{#                                <p>Etiam eget libero et erat eleifend consectetur a nec lectus. Sed id tellus lorem.#}
{#                                    Suspendisse sed venenatis odio, quis lobortis eros.</p>#}
{#                            </li>#}
{#                        </ul>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</section>#}

{#<section class="portfolio text-center section-padding" id="about">#}
{#    <div class="container">#}
{#        <div class="row">#}
{#            <div id="portfolioSlider">#}
{#                <ul class="slides">#}

{#                </ul>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</section>#}

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
{% block extrajs %}{% endblock %}
<script src="{% static 'js/login.js' %}"></script>
</body>
</html>