<!DOCTYPE html>
{% load bootstrap_toolkit %}
{% load url from future %}
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Loka - The New World - Official Minecraft Server</title>
    <meta name="description" content="">
    <meta name="author" content="Tom Miller">
    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/custom.css' %}" rel="stylesheet" media="screen">
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="{% static 'js/holder.js' %}"></script>
    {% block extra_head %}{% endblock %}
</head>

<body>
<div class="sitecontainer">
    <div class="navbar navbar-default navbar-static-top" role="navigation">
        <a class="navbar-brand" href="/"><img src="{% static 'images/logo_sm.png' %}" class="img-responsive"/></a>
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Towns<b
                        class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'loka.views.towns' %}">About</a></li>
                    <li><a href="{% url 'loka.views.townslist' %}">List of Towns</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">PvP<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'loka.views.pvp' %}">About</a></li>
                    <li><a href="{% url 'loka.views.pvp1v1' %}">1v1 Bracket</a></li>
                    {#                <li><a href="{% url 'loka.views.pvp2v2' %}">2v2 Bracket</a></li>#}
                    {#                <li><a href="{% url 'loka.views.vota' %}">VotA Rankings</a></li>#}
                </ul>
            </li>
            <li><a href="http://loka.minecraftarium.com/forums/">Forums</a>
            </li>
            <li><a href="http://loka.wikia.com/wiki/Loka_Wiki">Wiki</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                {% if user.is_authenticated %}
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cryptite <img
                            src="{% static 'images/Cryptite.png' %}"
                            class="img-rounded avatar"/></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'loka.views.logout' %}">Sign Out</a></li>
                    </ul>
                {% else %}
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sign In <img
                            src="{% static 'images/steve.png' %}"
                            class="img-rounded avatar"/></a>
                    <ul class="dropdown-menu">
                        <li>
                            <form method="post" action="{% url 'loka.views.home' %}">
                                {% csrf_token %}
                                <table>
                                    <tr>
                                        <td><input name="username" type="text" class="fullwidth"/></td>
                                    </tr>
                                    <tr>
                                        <td><input name="password" type="password" class="fullwidth"/></td>
                                    </tr>
                                </table>

                                <input type="submit" value="login"/>
                                <input type="hidden" name="next" value="{{ next }}"/>
                            </form>
                        </li>
                    </ul>
                {% endif %}
            </li>
        </ul>
    </div>
    <section class="page-section">
        {% bootstrap_messages %}
        {% block content %}Empty page{% endblock %}
    </section>

    <section class="page-section grey">
        <div class="container padbottom30">

            <div class="text-center padbottom30">
                <h1>Quotes of Loka</h1>
            </div>

            <div class="quote">
                <div class="quoteimage"><img class="smoothimage" alt="quote3"
                                             src="{% static 'media/' %}{{ quote.author.avatar }}"></div>

                <div class="quotetext">
                    <h4 class="title-sm"><span>
                        {% if quote.author %}
                            {{ quote.author }} <small> - {{ quote.author.rank }}</small>
                        {% else %}
                            Unknown
                        {% endif %}</span>
                    </h4>

                    <p>{{ quote.text }}</p>
                    <a href="{{ quote.event_url }}">-{{ quote.event }}</a>

                </div>

            </div>


    </section>

    <footer class="footer">
        <p class="copyright">
            &copy; <a href="#" target="_parent">Loka</a> 2013
        </p>
    </footer>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</div>
<!-- container -->

</body>
</html>
