{% extends "base.html" %}
{% load staticfiles %}
{% block extra_head %}{% endblock %}
{% block content %}
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            {% for article in news %}
                <li data-target="#myCarousel" data-slide-to="{{ article.count }}" class=""></li>
            {% endfor %}
        </ol>
        <div class="carousel-inner">
            {% for article in news %}
                {% if forloop.last %}
                    <div class="item active">
                {% else %}
                    <div class="item">
                {% endif %}
            <img src="{{ article.background }}">

            <div class="container">
                <div class="carousel-caption">
                    <h1 class="ccaption">{{ article.title }}</h1>

                    {% if article.header %}
                        <h2>{{ article.header }}</h2>
                    {% endif %}

                    <p>{{ article.text }}</p>

                    {% if article.url %}
                        <p><a class="btn btn-lg btn-primary" href="{{ article.url }}"
                              role="button">{{ article.url_text }}</a></p>
                    {% endif %}
                </div>
            </div>
            </div>
            {% endfor %}

            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span
                    class="glyphicon glyphicon-chevron-left"></span></a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next"><span
                    class="glyphicon glyphicon-chevron-right"></span></a>
        </div>

        <section class="page-section grey">
            <div class="container padbottom30 text-center">
                <br/>

                <h1>Join Now: <strong>iron.minecraftarium.com</strong></h1>
            </div>
        </section>

        <br/>

        <div class="container">
            <hr class="featurette-divider">
            <div class="row featurette">
                <div class="col-md-7">
                    <h1 class="featurette-heading">Unique Townbuilding Experience <br/><span
                            class="text-muted">Custom control over your town in an amazing way.</span></h1>

                    <p class="lead">Loka features a unique town system powered by Generators. Construct a generator,
                        power it with emeralds, and protect your town.</p>

                    <p>Loka has been running towns for almost it's entire 3 year run. Our town system is proven,
                        reliable, and fun. Don't let the Thieves get to your things though!</p>
                </div>
                <div class="col-md-5">
                    <img class="featurette-image img-responsive smoothimage"
                         src="{% static 'images/townbuilding.jpg' %}">
                    <br/>

                    <p><a href="{% url 'loka.views.towns' %}" class="btn btn-primary btn-lg center-block">Learn more
                        about Towns</a></p>
                </div>
        </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-5">
                    <img class="featurette-image img-responsive smoothimage" src="{% static 'images/votabattle.jpg' %}">
                    <br/>

                    <p><a href="{% url 'loka.views.pvp' %}" class="btn btn-warning btn-lg center-block">Learn more
                        about our PvP</a></p>
                </div>
                <div class="col-md-7">
                    <h1 class="featurette-heading">Incredible PvP Systems <br/><span
                            class="text-muted">Warcraft-Themed Arenas, Epic Battlegrounds, Custom PvP Talent System!</span>
                    </h1>

                    <p class="lead">Welcome to our 3rd season of PvP on Loka, Ice. </p>

                    <p>If you prefer the more balanced 1v1 or 2v2 brackets, fight in our Arena system. Small maps, quick
                        matches, instant fun!</p>

                    <p>Do you enjoy the more open-ended thrill of a battleground? Join other players in the open-air
                        combat of Battlegrounds. </p>
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h1 class="featurette-heading">Powerful and Unique Market System <br/><span
                            class="text-muted">Enjoy the life of Trade? Prove it.</span></h1>

                    <p class="lead">Loka's powerful Market system allows anyone to buy and sell things at Market with
                        the common currency of ores.</p>

                    <p>Prove your agricultural prowess and become successful in Loka without ever touching a mine!</p>
                </div>
                <div class="col-md-5">
                    <img class="featurette-image img-responsive smoothimage" src="{% static 'images/market.jpg' %}">
                    <br/>

                    <p><a href="http://loka.minecraftarium.com/forums/viewforum.php?f=9"
                          class="btn btn-primary btn-lg center-block"
                          target="_blank">Look into the Market</a></p>
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-5">
                    <img class="featurette-image img-responsive smoothimage"
                         src="{% static 'images/sunriseartifact.jpg' %}">

                    <br/>

                    <p><a href="http://loka.minecraftarium.com/forums/viewforum.php?f=28"
                          class="btn btn-warning btn-lg center-block"
                          target="_blank">Know the Rules</a></p>
                </div>
                <div class="col-md-7">
                    <h1 class="featurette-heading">Thievery and No Chest Protection <br/><span
                            class="text-muted">It can be a tough world out there.</span></h1>

                    <p class="lead">Loka allows thievery and murder, but griefing and mass block damage are forbidden
                        here.</p>

                    <p>Loka's thieving community is one of the most skilled in Minecraft. Do you challenge them, join
                        them, or ignore them? Some have thrived through conflict, others have fallen. How will
                        your story on Loka be told?</p>
                </div>
        </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h1 class="featurette-heading">Rich Story <br/><span
                            class="text-muted">Loka's story is rich and diverse. Will you become part of it?</span></h1>

                    <p class="lead">Since the founding of the server, Lokans have been no strangers to evil,
                        catastrophe,
                        and mystery.</p>

                    <p>From the feared <a href="http://loka.wikia.com/wiki/Preksak" target="_blank">World-Ender
                        Preksak</a>
                        to the seemingly benevolent god of Asgard, Freyjia, a small
                        host
                        of characters appear from <a href="http://loka.wikia.com/wiki/Battle_of_the_Spire"
                                                     target="_blank">time</a>
                        to time to alter the course of Loka's History. Some players have
                        even
                        chosen to participate and have their roles locked in lore for eternity!</p>
                </div>
                <div class="col-md-5">
                    <img class="featurette-image img-responsive smoothimage" src="{% static 'images/spawntower.jpg' %}">
                    <br/>

                    <p><a href="http://loka.wikia.com/wiki/Loka_Wiki" class="btn btn-success btn-lg center-block"
                          target="_blank">Delve into our Lore</a></p>
                </div>
            </div>
        </div>

{% endblock %}