{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap_toolkit %}
{% load humanize %}

{% block extra_head %}
    <script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>
    <script>
        tinymce.init({selector: 'textarea.desc',
            menu: {},
            plugins: "preview",
            toolbar: "styleselect | hr bold italic | outdent indent bullist numlist | spellchecker | preview",
            content_css: "{% static 'css/custom.css' %}"
        });
    </script>
{% endblock %}

{% block content %}

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Edit Issue</h4>
                </div>
                <form method="post" action="/issue/{{ issue.id }}">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-primary">
                                <input type="radio" name="feature" id="feature"> Feature Request
                            </label>
                            <label class="btn btn-warning">
                                <input type="radio" name="bug" id="bug"> Bug
                            </label>
                        </div>
                        <input type="text" class="form-control" name="title" placeholder="Issue title"
                               value="{{ issue.title }}"/>
                        <textarea class="desc" name="text" placeholder="Please describe the issue here."
                                  rows="3">
                            {% autoescape off %}{{ issue.description }}{% endautoescape %}
                        </textarea>

                        <button type="submit" name="action" class="btn btn-primary" value="issue">Update Issue</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="span7">
        <div class="townnav">
            <a href="/issues/" type="button" class="btn btn-primary btn-md">Issues</a>
            <a href="#" type="button" class="btn btn-default btn-md">Issue {{ issue.id }}</a>
        </div>
    </div>

    <section class="page-section">
        <div class="container padbottom30">

            <h2 class="title"><span>
                <label class="issue issue-{{ issue.get_status_display }}">{{ issue.get_status_display }}</label> - {{ issue.title }}
            </span>
            </h2>

            <div class="span6">
                <h2 class="title">Issue Description

                    {% if request.user.is_authenticated and issue.reporter.name == request.user.usename or request.user.username == "Cryptite" %}
                        <div class="pull-right">
                        <button type="pull-right" data-toggle="modal" name="action" class="btn btn-warning btn-sm"
                                value="description" data-target="#myModal">Edit Issue
                        </button>

                        </div>{% endif %}
                </h2>
                <h3>{% autoescape off %}{{ issue.description }}{% endautoescape %}</h3>
                <br/>
                <h5>Reported by: {{ issue.reporter }}
                    <small>{{ issue.created|naturaltime }}</small>
                </h5>
            </div>

            <div class="span3">
                <h2 class="title">Issue Comments</h2>
                {% if comments.count > 0 %}
                    {% for comment in comments %}
                        <!-- Modal -->
                        <div class="modal fade" id="modal_{{ comment.id }}" tabindex="-1" role="dialog"
                             aria-labelledby="myModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        Are you sure you wish to delete this comment?
                                    </div>
                                    <div class="modal-footer">
                                        <form method="post" action="/deleteitem/{{ comment.id }}">
                                            {% csrf_token %}
                                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                                Cancel
                                            </button>
                                            <button type="submit" name="action" class="btn btn-primary"
                                                    value="comment">Delete
                                                Comment
                                            </button>
                                        </form>
                                        </button>
                                    </div>
                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>
                        <!-- /.modal -->
                        <div class="theblogpost">

                            <div class="bloginnerwrap">

                                <div class="blogicons post-avatar"><img
                                        src="{% static 'media/' %}{{ comment.author.avatar_sm }}"
                                        class="img-rounded"/></div>

                                <h3><span>{{ comment.author.name }} <small>
                                    - {{ comment.date|naturaltime }}</small></span>
                                    {% if comment.author.name == user.username %}
                                        <button type="button" class="close pull-right" data-toggle="modal"
                                                data-target="#modal_{{ comment.id }}">&times;</button>{% endif %}
                                </h3>
                                <p>{{ comment.text }}</p>

                            </div>

                        </div>
                    {% endfor %}
                {% endif %}

                {% if user.is_authenticated %}
                    <form method="post" action="/issue/{{ issue.id }}">
                        {% csrf_token %}
                        <textarea class="form-control" name="text" placeholder="Add a comment"
                                  rows="2"></textarea>
                        <button type="submit" name="action" class="btn btn-primary btn-md" value="comment">Post
                            comment
                        </button>
                    </form>
                {% else %}
                    <button name="action" class="btn btn-primary btn-md" disabled="disabled">Login to post
                        comments
                    </button>
                {% endif %}

            </div>
    </section>

{% endblock %}