{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap_toolkit %}
{% block title %}Loka Minecraft - Territory Map{% endblock %}
{% block extra_head %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="http://leafletjs.com/dist/leaflet.css">
{% endblock %}

{% block content %}
    <div id="map" style="width: 100%; height: 700px; position: relative;" class="leaflet-container leaflet-fade-anim"
         tabindex="0">
    </div>

    <script src="{% static 'js/leaflet.js' %}"></script>
    <script>
        // See https://github.com/CloudMade/Leaflet/issues/980
        L.CRS.Simple = L.Util.extend({}, L.CRS, {
            projection: L.Projection.LonLat,
            transformation: new L.Transformation(.5, .5, .5, .5)
        });

        var map = new L.Map('map', {
            crs: L.CRS.Simple,
            center: [0.0, 0.0],
            worldCopyJump: false
        });

        L.tileLayer('/static/images/map/{z}/{x}/{y}.jpg', {
            noWrap: true,
            minZoom: 2,
            maxZoom: 5
        }).addTo(map);

        map.setView([0, 0], 3);

        {% for town in towns %}
            L.marker([{{ town.latitude }}, {{ town.longitude }}]).addTo(map).bindPopup('{{ town.name }}');
            L.circle([{{ town.latitude }}, {{ town.longitude }}], 800.0, { color: 'red', fillColor: '#f03', fillOpacity: 0.9}).addTo(map).bindPopup('{{ town.name }}');
        {% endfor %}

        {% for territory in territories %}
            L.circle([{{ territory.latitude }}, {{ territory.longitude }}], 500.0, { color: 'red', fillColor: '#f03', fillOpacity: 0.5}).addTo(map).bindPopup('{{ territory.town.name }} Territory');
        {% endfor %}
    </script>
{% endblock %}
