{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap_toolkit %}

{% block extra_head %}
    {{ form.media }}
    <script type="text/javascript">
        $(".streak").tooltip();
    </script>
{% endblock %}

{% block content %}

    <div class="jumbotron header-arena">
    <h1>2v2 Arena Bracket</h1>
    </div>
    <div class="container">
        <div class=".col-md-4">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Player</th>
                    <th>Wins</th>
                    <th>Losses</th>
                    <th>Rating</th>
                </tr>
                </thead>
                <tbody>
                {% for player in players %}
                    <tr>
                        {% if player.streak2v2 > 0 %}
                            <td><a href="#" class="streak" title="{{ player.streak2v2 }} win streak"
                                   data-original-title="Tooltip">{{ forloop.counter }} <img
                                    src="{% static 'images/up.png' %}"></a>
                            </td>
                        {% else %}
                            <td><a href="#" class="streak" data-toggle="tooltip"
                                   title="{{ player.streak2v2 }} loss streak">{{ forloop.counter }}
                                <img src="{% static 'images/down.png' %}"/></a>
                            </td>
                        {% endif %}
                        <td>{% block avatar-sm %}{% endblock %}
                            <a href="/player/{{ player.name }}">
                                {% if player.avatar_sm %}
                                    <img src="{% static 'media/' %}{{ player.avatar_sm }}"
                                         class="avatar-sm img-rounded">
                                {% else %}
                                    <img src="{% static 'images/steve_sm.png' %}"
                                         class="avatar-sm img-rounded {{ player.name }}">
                                    <script type="application/javascript">
                                        $(document).ready(function () {
                                            $.ajax({
                                                type: "GET",
                                                url: "/avatar/{{ player.name }}",
                                                contentType: 'application/json',
                                                complete: function (xhr, status) {
                                                    if (status === 'error' || !xhr.responseText) {
                                                    }
                                                    else {
                                                        var data = JSON.parse(xhr.responseText);
                                                        $('.{{ player.name }}').fadeOut(500, function () {
                                                            $('.{{ player.name }}').attr('src', data["path"]);
                                                            $('.{{ player.name }}').fadeIn(500);
                                                        });
                                                    }
                                                }
                                            });
                                        })
                                    </script>
                                {% endif %}
                                {{ player.name }}</a></td>
                        <td>{{ player.arenawins2v2 }}</td>
                        <td>{{ player.arenalosses2v2 }}</td>
                        <td>{{ player.arenarating2v2 }}</td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>

{% endblock %}