{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Loka Minecraft - Rumble in the Valley Schedule{% endblock %}

{% block extra_head %}
    <link href="{% static 'css/flexslider.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <section class="smallhero header-tourny" id="hero">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h1 class="animated fadeIn delay-10s heroTitle">Rumble Schedule</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="team text-center section-padding" id="team">
        <div class="container">
            <div class="row">
                {% for group in groups %}
                    <div class="col-md-10 col-md-offset-1 text-center">
                        <h1 class="arrow">Group A</h1>

                        {% for match in matches %}
                            {% if match.group == group %}
                                <div class="tournymatch">
                                    <span class="teama">{{ match.team_a }}</span>
                                    <span class="matchscore">{{ match.team_a_score }} - {{ match.team_b_score }}</span>
                                    <span class="teamb">{{ match.team_b }}</span>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>

        </div>
    </section>
{% endblock %}

{% block extrajs %}
    <script src="{% static 'js/jquery.flexslider.js' %}"></script>
    <script src="{% static 'js/modernizr.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
{% endblock %}
