{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap_toolkit %}
{% load humanize %}
{% block extra_head %}
    {{ form.media }}
    <!-- Important Owl stylesheet -->
    <link rel="stylesheet" href="{% static 'owl-carousel/owl.carousel.css' %}">

    <!-- Default Theme -->
    <link rel="stylesheet" href="{% static 'owl-carousel/owl.theme.css' %}">

    <!-- Include js plugin -->
    <script src="{% static 'owl-carousel/owl.carousel.js' %}"></script>

    <script>
        jQuery(function ($) {
            $(".avatar-sm").tooltip()
        });
    </script>
{% endblock %}

{% block content %}
    <div class="jumbotron pvp">
        <h1>{{ town.name }}</h1>

        <h2>{{ town.num_members }} members</h2>
    </div>

    <div class="row">
        <div class="span2">
            {% if user.username == town.owner.name %}
                {#            {% if user %}#}
                <!-- Modal -->
                <div class="modal fade" id="modal_settings" tabindex="-1" role="dialog"
                     aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"
                                        aria-hidden="true">&times;</button>
                                <h3 class="modal-title" id="myModalLabel">Town settings</h3>
                            </div>
                            <div class="modal-body">
                                <h2>Town Privacy</h2>
                                {% if town.public %}
                                    <p id="visibility">Your town is visible to the public. This means your town will
                                        show up in the Towns of Loka page. More detailed privacy settings will come
                                        soon.</p>
                                    <input type="submit" name="action" class="btn btn-info btn-md public"
                                           value="Set Private">
                                {% else %}
                                    <p id="visibility">Your town is currently private and can only be viewed by its
                                        members if they are logged in. Other users attempting to access your town's page
                                        will fail.</p>
                                    <input type="submit" name="action" class="btn btn-info btn-md public"
                                           value="Set Public">
                                {% endif %}
                                <script type="application/javascript">
                                    $('.public').click(function () {
                                        $.ajax({
                                            type: "POST",
                                            url: "/town/{{ town.name }}",
                                            data: {'town': "{{ town }}",
                                                'csrfmiddlewaretoken': '{{csrf_token}}',
                                                'action': "public"},
                                            dataType: "text",
                                            success: function (rs, e) {
                                                var button = $('.public')[0]
                                                var text = document.getElementById("visibility");
                                                if (button.value == "Set Public") {
                                                    button.value = "Set Private";
                                                    text.innerHTML = "Your town is visible to the public";
                                                } else {
                                                    button.value = "Set Public";
                                                    text.innerHTML = "Your town is currently private.";
                                                }
                                            },
                                            error: function (rs, e) {
                                                alert(rs.responseText);
                                            }
                                        });
                                    })
                                </script>
                                <br/><br/>
                                <small>More town settings will arrive soon!</small>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
                <br/>
                <button type="button" class="btn btn-primary btn-lg btn-group-justified" data-toggle="modal"
                        data-target="#modal_settings">Town Settings
                </button>
            {% endif %}

            <h3 class="title"><span>{{ town.name }} Citizens</span></h3>

            <h3>Owner</h3>
            {% if town.owner.avatar_sm %}
                <img src="{% static 'media/' %}{{ town.owner.avatar_sm }}"
                     class="avatar-sm img-rounded">
            {% else %}
                <img src="{% static 'images/steve_sm.png' %}"
                     class="avatar-sm img-rounded {{ town.owner.name }}">
                <script type="application/javascript">
                    $(document).ready(function () {
                        $.ajax({
                            type: "GET",
                            url: "/avatar/{{ town.owner.name }}",
                            contentType: 'application/json',
                            complete: function (xhr, status) {
                                if (status === 'error' || !xhr.responseText) {
                                }
                                else {
                                    var data = JSON.parse(xhr.responseText);
                                    $('.{{ town.owner.name }}').fadeOut(500, function () {
                                        $('.{{ town.owner.name }}').attr('src', data["path"]);
                                        $('.{{ town.owner.name }}').fadeIn(500);
                                    });
                                }
                            }
                        });
                    })
                </script>
            {% endif %} {{ town.owner.name }}

            {% if user.is_authenticated %}
                {% if town.subowners.count > 0 %}
                    <h3>Subowners</h3>
                    {% for subowner in town.subowners.all %}
                        {% if subowner.avatar_sm %}
                            <img src="{% static 'media/' %}{{ subowner.avatar_sm }}"
                                 class="avatar-sm img-rounded">
                        {% else %}
                            <img src="{% static 'images/steve_sm.png' %}"
                                 class="avatar-sm img-rounded {{ subowner.name }}">
                            <script type="application/javascript">
                                $(document).ready(function () {
                                    $.ajax({
                                        type: "GET",
                                        url: "/avatar/{{ subowner.name }}",
                                        contentType: 'application/json',
                                        complete: function (xhr, status) {
                                            if (status === 'error' || !xhr.responseText) {
                                            }
                                            else {
                                                var data = JSON.parse(xhr.responseText);
                                                $('.{{ subowner.name }}').fadeOut(500, function () {
                                                    $('.{{ subowner.name }}').attr('src', data["path"]);
                                                    $('.{{ subowner.name }}').fadeIn(500);
                                                });
                                            }
                                        }
                                    });
                                })
                            </script>
                        {% endif %}
                        {{ subowner.name }}<br/>
                    {% endfor %}
                {% endif %}

                <h4>Members -
                    <small>{{ town.members.all.count }}</small>
                </h4>
                {% for member in town.members.all %}
                    {% if member.avatar_sm %}
                        <img src="{% static 'media/' %}{{ member.avatar_sm }}"
                             class="avatar-sm img-rounded" data-toggle="tooltip" data-placement="top" title=""
                             data-original-title="{{ member.name }}">
                    {% else %}
                        <img src="{% static 'images/steve_sm.png' %}" class="avatar-sm img-rounded {{ member.name }}"
                             data-toggle="tooltip" data-placement="top" title=""
                             data-original-title="{{ member.name }}">
                        <script type="application/javascript">
                            $(document).ready(function () {
                                $.ajax({
                                    type: "GET",
                                    url: "/avatar/{{ member.name }}",
                                    contentType: 'application/json',
                                    complete: function (xhr, status) {
                                        if (status === 'error' || !xhr.responseText) {
                                        }
                                        else {
                                            var data = JSON.parse(xhr.responseText);
                                            $('.{{ member.name }}').fadeOut(500, function () {
                                                $('.{{ member.name }}').attr('src', data["path"]);
                                                $('.{{ member.name }}').fadeIn(500);
                                            });
                                        }
                                    }
                                });
                            })
                        </script>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>

        <div class="span7">
            {% if user.is_authenticated %}
                <div class="townnav">
                    <a href="/town/{{ town.name }}" type="button" class="btn btn-primary btn-md">Home</a>
                    <a href="/town/{{ town.name }}/board" type="button" class="btn btn-primary btn-md">Town Board <span class="active badge"> {{ town.num_threads }}</span></a>
                </div>
            {% endif %}
            {% block towncontent %}{% endblock %}
        </div>

    </div>
{% endblock %}