{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap_toolkit %}
{% load widgets %}
{% load cropping thumbnail %}
{% block title %}Loka Minecraft - Towns of Loka{% endblock %}
{% block extra_head %}
    {{ form.media }}

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {#    <link rel="stylesheet" type="text/css" href="{% static 'css/component.css' %}"/>#}
    <link rel="stylesheet" type="text/css" href="{% static 'css/itemview.css' %}"/>
{% endblock %}

{% block content %}

    <section class="smallhero" id="hero">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h1 class="animated fadeIn delay-10s heroTitle">Towns of Loka</h1>
                </div>
            </div>
        </div>
    </section>

    {% for alliance in alliances %}
        <section class="portfolio text-center section-padding">
            <h1 class="town-category">{{ alliance.name }} Alliance
                <small>- {{ alliance.towns.count }} Towns, {{ alliance.strength }} Strength</small>
            </h1>
            <div class="row">
                <div class="col-md-3">
                    <ul id="cd-gallery-items" class="cd-towns-container">
                        <li>
                            <ul class="cd-item-wrapper">
                                <li class="cd-item-front">
                                    {% if alliance.leader.name|has_town_banner != None %}
                                        {% with image=alliance.leader.name|has_town_banner %}
                                            {% if image.banner %}
                                                <img src="{% thumbnail image.banner 720x400 detail %}" alt="dummy"
                                                     class="imgcenter"/>
                                            {% else %}
                                                <img src="{% static 'images/town_sm.jpg' %}" alt="dummy"/>
                                            {% endif %}
                                        {% endwith %}
                                    {% else %}
                                        <img src="{% static 'images/town_sm.jpg' %}" alt="dummy"/>
                                    {% endif %}</li>
                                {#                                <li class="cd-item-middle"><a href="#0"><img#}
                                {#                                        src="{% static 'images/town_sm.jpg' %}"#}
                                {#                                        alt="Preview image"></a></li>#}
                                {#                                <li class="cd-item-back"><a href="#0"><img#}
                                {#                                        src="{% static 'images/town_sm.jpg' %}"#}
                                {#                                        alt="Preview image"></a>#}
                                {#                                </li>#}
                            </ul>

                            <div class="cd-item-info">
                                <b>{{ alliance.leader.get_list_name }}</b>
                                <em>Level {{ alliance.leader.level }}</em>
                            </div>
                            <nav>
                                <ul class="cd-item-navigation">
                                    <li><a class="cd-img-replace" href="#0">Prev</a></li>
                                    <li><a class="cd-img-replace" href="#0">Next</a></li>
                                </ul>
                            </nav>

                            <a class="cd-3d-trigger cd-img-replace" href="#0">Open</a>
                        </li>
                    </ul>
                </div>
                {% for town in alliance.towns.all %}
                    {% if town != alliance.leader %}
                        <div class="col-md-3">
                            <ul id="cd-gallery-items" class="cd-towns-container">
                                <li>
                                    <ul class="cd-item-wrapper">
                                        <li class="cd-item-front"><img
                                                src="{% static 'images/town_sm.jpg' %}"
                                                alt="Preview image"></li>
                                        {#                                        <li class="cd-item-middle"><a href="#0"><img#}
                                        {#                                                src="{% static 'images/town_sm.jpg' %}"#}
                                        {#                                                alt="Preview image"></a></li>#}
                                        {#                                        <li class="cd-item-back"><a href="#0"><img#}
                                        {#                                                src="{% static 'images/town_sm.jpg' %}"#}
                                        {#                                                alt="Preview image"></a>#}
                                        {#                                        </li>#}
                                    </ul>

                                    <div class="cd-item-info">
                                        <b>{{ town.get_list_name }}</b>
                                        <em>Level {{ town.level }}</em>
                                    </div>
                                    <nav>
                                        <ul class="cd-item-navigation">
                                            <li><a class="cd-img-replace" href="#0">Prev</a></li>
                                            <li><a class="cd-img-replace" href="#0">Next</a></li>
                                        </ul>
                                    </nav>

                                    <a class="cd-3d-trigger cd-img-replace" href="#0">Open</a>
                                </li>
                            </ul>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </section>
    {% endfor %}

    <section class="portfolio text-center section-padding">
        <h1 class="town-category">Wild Towns</h1>

        <div class="row">
            {% for town in towns %}
                <div class="col-md-3">
                    <ul id="cd-gallery-items" class="cd-towns-container">
                        <li>
                            <ul class="cd-item-wrapper">
                                <li class="cd-item-front"><img
                                        src="{% static 'images/town_sm.jpg' %}"
                                        alt="Preview image"></li>
                                {#                                <li class="cd-item-middle"><a href="#0"><img#}
                                {#                                        src="{% static 'images/town_sm.jpg' %}"#}
                                {#                                        alt="Preview image"></a></li>#}
                                {#                                <li class="cd-item-back"><a href="#0"><img#}
                                {#                                        src="{% static 'images/town_sm.jpg' %}"#}
                                {#                                        alt="Preview image"></a>#}
                                {#                                </li>#}
                            </ul>

                            <div class="cd-item-info">
                                <b>{{ town.get_list_name }}</b>
                                <em>Level {{ town.level }}</em>
                            </div>
                            <nav>
                                <ul class="cd-item-navigation">
                                    <li><a class="cd-img-replace" href="#0">Prev</a></li>
                                    <li><a class="cd-img-replace" href="#0">Next</a></li>
                                </ul>
                            </nav>

                            <a class="cd-3d-trigger cd-img-replace" href="#0">Open</a>
                        </li>
                    </ul>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}

{% block extrajs %}
    <script src="{% static 'js/scripts.js' %}"></script>
    <script src="{% static 'js/jquery.flexslider.js' %}"></script>
    <script src="{% static 'js/modernizr.js' %}"></script>
    <script src="{% static 'js/waypoints.min.js' %}"></script>
    <script src="{% static 'js/itemview.js' %}"></script>
{% endblock %}