{% extends "townbase.html" %}
{% load staticfiles %}
{% load bootstrap_toolkit %}
{% load humanize %}

{% block towncontent %}
    <h2 class="title"><span>The Town of {{ town.name }}</span>
        {% if town.motd != "null" and user.is_authenticated and userintown.count > 0 %}
            {% if town.motd %}
                <small> - {{ town.motd }}</small>
            {% endif %}
            <button type="submit" class="btn btn-primary btn-small pull-right" data-toggle="modal"
                    data-target="#modal_board">Update Board
            </button>
        {% endif %}
    </h2>

    <div class="modal fade" id="modal_board" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1>
                        <small>Fill out your town board below.</small>
                    </h1>
                    <p>Your town board is an area where you can fill out and format information about your town so that
                        people have a way to learn about your town. It's your Town's own advertisement page!</p>
                </div>
                <div class="modal-body">
                    <form method="post" action="/town/{{ town.name }}">
                        {% csrf_token %}
                        <textarea class="desc" name="description">
                            {% if town.description %}
                                {% autoescape off %}{{ town.description }}{% endautoescape %}
                            {% endif %}
                        </textarea>
                        <br/>
                        <button type="submit pull-right" name="action" class="btn btn-primary btn-md"
                                value="description">Update Board
                        </button>
                        <button type="button pull-right" class="btn btn-default" data-dismiss="modal">Cancel
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% if not town.description %}
        {% if user.username == town.owner.name %}
            <h1 class="text-center">Your town board is blank!</h1>
            <h2 class="text-center">
                <small>You should <a href="#" data-toggle="modal"
                                     data-target="#modal_board">fill your board out </a> so people can learn more about
                    your
                    town.
                </small>
            </h2>
        {% else %}
            <h1 class="text-center">The town board is blank!</h1>
            <h2 class="text-center">
                <small>Perhaps {{ town.owner }} will update it soon...</small>
            </h2>
        {% endif %}
    {% else %}
        {% autoescape off %}{{ town.description }}{% endautoescape %}
    {% endif %}

    <br/>

    {% if comments.count > 0 %}
        {% for comment in comments %}
            <!-- Modal -->
            <div class="modal fade" id="modal_{{ comment.id }}" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            Are you sure you wish to delete this comment?
                        </div>
                        <div class="modal-footer">
                            <form method="post" action="/deleteitem/{{ comment.id }}">
                                {% csrf_token %}
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button type="submit" name="action" class="btn btn-primary" value="comment">Delete
                                    Comment
                                </button>
                            </form>
                            </button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
            <div class="theblogpost">

                <div class="bloginnerwrap">

                    <div class="blogicons post-avatar"><img src="{% static 'media/' %}{{ comment.author.avatar_sm }}"
                                                            class="img-rounded"/></div>

                    <h3><span>{{ comment.author.name }} <small>
                        - {{ comment.date|naturaltime }}</small></span>
                        {% if comment.author.name == user.username %}
                            <button type="button" class="close pull-right" data-toggle="modal"
                                    data-target="#modal_{{ comment.id }}">&times;</button>{% endif %}
                    </h3>
                    <p>{{ comment.text }}</p>

                </div>

            </div>
        {% endfor %}
    {% else %}
        <p>Be the first to comment about {{ town.name }}.</p>
    {% endif %}

    {% if user.is_authenticated %}
        <form method="post" action="/town/{{ town.name }}">
            {% csrf_token %}
            <textarea class="form-control" name="text" placeholder="Add a comment"
                      rows="2"></textarea>
            <button type="submit" name="action" class="btn btn-primary btn-md" value="comment">Post comment</button>
        </form>
    {% else %}
        <button name="action" class="btn btn-primary btn-md" disabled="disabled">Login to post comments</button>
    {% endif %}
{% endblock %}