{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap_toolkit %}
{% block title %}Loka Minecraft - Town System{% endblock %}
{% block extra_head %}
    {{ form.media }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/towntable.css' %}"/>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
{% endblock %}

{% block content %}

    <section class="smallhero" id="hero">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h1 class="animated fadeIn delay-10s heroTitle">Town Features</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="dark-bg text-center section-padding contact-wrap" id="contact">
        <a href="#top" class="up-btn"><i class="fa fa-chevron-up"></i></a>

        <div class="component">
            <h2>Town Perks</h2>

            <p>This is a basic usage example. Scroll down to see the sticky table header in action. And of course,
                multiple instances are supported. Tables are pre-populated with random user data retrieved from the
                <a href="http://randomuser.me/" title="Random User Generator">Random User Generator</a>.</p>
            <table>
                <thead>
                <tr>
                    <th>Level</th>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="user-name">2</td>
                    <td class="user-email">Experienced I</td>
                    <td class="user-phone">Experienced gained by town members increased by 10%</td>
                </tr>
                <tr>
                    <td class="user-name">3</td>
                    <td class="user-email">----</td>
                    <td class="user-phone">Town perk coming soon!</td>
                </tr>
                <tr>
                    <td class="user-name">4</td>
                    <td class="user-email">Health I</td>
                    <td class="user-phone">Passive regen grants an extra half heart</td>
                </tr>
                <tr>
                    <td class="user-name">5</td>
                    <td class="user-email">Experienced I</td>
                    <td class="user-phone">Experienced gained by town members increased by 10%</td>
                </tr>
                <tr>
                    <td class="user-name">6</td>
                    <td class="user-email">Experienced I</td>
                    <td class="user-phone">Experienced gained by town members increased by 10%</td>
                </tr>
                <tr>
                    <td class="user-name">7</td>
                    <td class="user-email">Experienced I</td>
                    <td class="user-phone">Experienced gained by town members increased by 10%</td>
                </tr>
                <tr>
                    <td class="user-name">8</td>
                    <td class="user-email">Experienced I</td>
                    <td class="user-phone">Experienced gained by town members increased by 10%</td>
                </tr>
                <tr>
                    <td class="user-name">9</td>
                    <td class="user-email">Experienced I</td>
                    <td class="user-phone">Experienced gained by town members increased by 10%</td>
                </tr>
                <tr>
                    <td class="user-name">10</td>
                    <td class="user-email">Experienced I</td>
                    <td class="user-phone">Experienced gained by town members increased by 10%</td>
                </tr>
                <tr>
                    <td class="user-name">11</td>
                    <td class="user-email">Experienced I</td>
                    <td class="user-phone">Experienced gained by town members increased by 10%</td>
                </tr>
                <tr>
                    <td class="user-name">12</td>
                    <td class="user-email">Experienced I</td>
                    <td class="user-phone">Experienced gained by town members increased by 10%</td>
                </tr>
                <tr>
                    <td class="user-name">13</td>
                    <td class="user-email">Experienced I</td>
                    <td class="user-phone">Experienced gained by town members increased by 10%</td>
                </tr>
                <tr>
                    <td class="user-name">14</td>
                    <td class="user-email">Experienced I</td>
                    <td class="user-phone">Experienced gained by town members increased by 10%</td>
                </tr>
                <tr>
                    <td class="user-name">15</td>
                    <td class="user-email">Experienced I</td>
                    <td class="user-phone">Experienced gained by town members increased by 10%</td>
                </tr>
                <tr>
                    <td class="user-name">16</td>
                    <td class="user-email">Experienced I</td>
                    <td class="user-phone">Experienced gained by town members increased by 10%</td>
                </tr>
                <tr>
                    <td class="user-name">17</td>
                    <td class="user-email">Experienced I</td>
                    <td class="user-phone">Experienced gained by town members increased by 10%</td>
                </tr>
                <tr>
                    <td class="user-name">18</td>
                    <td class="user-email">Experienced I</td>
                    <td class="user-phone">Experienced gained by town members increased by 10%</td>
                </tr>
                <tr>
                    <td class="user-name">19</td>
                    <td class="user-email">Experienced I</td>
                    <td class="user-phone">Experienced gained by town members increased by 10%</td>
                </tr>
                <tr>
                    <td class="user-name">20</td>
                    <td class="user-email">Experienced I</td>
                    <td class="user-phone">Experienced gained by town members increased by 10%</td>
                </tr>
                <tr>
                    <td class="user-name">21</td>
                    <td class="user-email">Experienced I</td>
                    <td class="user-phone">Experienced gained by town members increased by 10%</td>
                </tr>
                <tr>
                    <td class="user-name">22</td>
                    <td class="user-email">Experienced I</td>
                    <td class="user-phone">Experienced gained by town members increased by 10%</td>
                </tr>
                <tr>
                    <td class="user-name">23</td>
                    <td class="user-email">Experienced I</td>
                    <td class="user-phone">Experienced gained by town members increased by 10%</td>
                </tr>
                <tr>
                    <td class="user-name">24</td>
                    <td class="user-email">Experienced I</td>
                    <td class="user-phone">Experienced gained by town members increased by 10%</td>
                </tr>
                <tr>
                    <td class="user-name">25</td>
                    <td class="user-email">Experienced I</td>
                    <td class="user-phone">Experienced gained by town members increased by 10%</td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>

    <div class="row">
        <section class="page-section lightgrey">
            <div class="container padbottom30 section-header">
                <br/>

                <div class="span2"><img src="{% static 'images/icon-towns.png' %}" class="pull-right"/></div>
                <h1>Loka's towns feature a one-of-a-kind generator system. Through custom code, Loka gives you a
                    unique township experience with control over your town you won't find anywhere else.
                </h1>
            </div>
        </section>

        <h2 class="title"><span>Town Generators </span><a href="{% url 'loka.views.townslist' %}"
                                                          class="btn btn-success btn-lg pull-right">View the
            Towns of Loka!</a></h2>

        <div class="span6">

            <div class="feature feature-left">
                <h2>Real Resources</h2>

                <p>Town generators consume the real-world resource, Emeralds. Through whatever means necessary, you
                    can
                    ensure that your generator will keep running while you're away. Should your generator ever run
                    out
                    of emeralds, though, your protection will fall and thieves will be free to make their way to
                    your
                    vaults.</p>
            </div>
        </div>

        <div class="span5">
            <img class="smoothimage" alt="Nagrand Arena"
                 src="{% static 'images/town_helrune.jpg' %}" height="300">
        </div>

    </div>

    <div class="row">
        <h2 class="title"><span>Town Mastery</span></h2>

        <div class="span6">
            <img class="smoothimage" src="{% static 'images/townbuilding.jpg' %}" height="350">
        </div>
        <div class="span5">
            <div class="feature feature-right">

                <h2>25 Town Levels, 18 leveling categories</h2>

                <p>Almost everything you do counts to the progression of your town. Every block you break or place,
                    every
                    potion you brew, every PvP match you play, every item you sell on the market, every move you make;
                    it all counts!.</p>
            </div>
        </div>
    </div>

    <div class="row">
        <h2 class="title"><span>Town Benefits</span></h2>

        <div class="span9">
            <div class="feature feature-left">

                <h3>Town Chat</h3>

                <h3>Town Portal</h3>

                <h3>Rank-based Build Priviledges</h3>

                <h3>Nether Protection</h3>
            </div>
        </div>

    </div>
{% endblock %}

{% block extrajs %}
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"></script>
    <script src="{% static 'js/jquery.stickyheader.js' %}"></script>
{% endblock %}