{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap_toolkit %}
{% load widgets %}
{% load cropping thumbnail %}
{% block title %}Loka Minecraft - Towns of Loka{% endblock %}
{% block extra_head %}
    {{ form.media }}

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {#    <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}"/>#}
    {#    <link rel="stylesheet" type="text/css" href="css/demo.css"/>#}
    <link rel="stylesheet" type="text/css" href="{% static 'css/component.css' %}"/>
    <script src="{% static 'js/modernizr.custom.js' %}"></script>
{% endblock %}

{% block content %}

    <div class="jumbotron towns">
        <h1>Towns of Loka</h1>
    </div>

    <div class="container">
        {% for alliance in alliances %}
            <section class="grid-wrap">

                <ul class="grid swipe-right" id="grid-{{ alliance.name }}">
                    <li class="title-box">
                        <h2>{{ alliance.name }} Alliance</h2>
                    </li>
                    {% for town in alliance.towns.all %}
                        <li>
                            <a href="/town/{{ town.name }}">
                                {% if town.name|has_town_banner != None %}
                                    {% with image=town.name|has_town_banner %}
                                        {% if image.banner %}
                                            <img src="{% thumbnail image.banner 500x300 detail %}" alt="dummy"/>
                                        {% else %}
                                            <img src="{% static 'images/town_sm.jpg' %}" alt="dummy"/>
                                        {% endif %}
                                    {% endwith %}
                                {% else %}
                                    <img src="{% static 'images/town_sm.jpg' %}" alt="dummy"/>
                                {% endif %}
                                <h3>{{ town.name }}
                                    {% if town.owner.avatar_sm %}
                                        <img src="{% static 'media/' %}{{ town.owner.avatar_sm }}"
                                             class="avatar-sm img-rounded">
                                    {% else %}
                                        <img src="{% static 'images/steve_sm.png' %}"
                                             class="avatar-sm img-rounded {{ town.owner.name }}">
                                        <script type="application/javascript">
                                            $(document).ready(function () {
                                                $.ajax({
                                                    type: "GET",
                                                    url: "/avatar/{{ town.owner.name }}",
                                                    contentType: 'application/json',
                                                    complete: function (xhr, status) {
                                                        if (status === 'error' || !xhr.responseText) {
                                                        }
                                                        else {
                                                            var data = JSON.parse(xhr.responseText);
                                                            var selector = ".{{ town.owner.name }}";
                                                            $(selector).fadeOut(500, function () {
                                                                $(selector).attr('src', data["path"]);
                                                                $(selector).fadeIn(500);
                                                            });
                                                        }
                                                    }
                                                });
                                            })
                                        </script>
                                    {% endif %}
                                </h3>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </section>
        {% endfor %}

        <section class="grid-wrap">
            <ul class="grid swipe-right" id="grid-wildtowns">
                <li class="title-box">
                    <h2>Wild Towns</h2>
                </li>
                {% for town in towns %}
                    <li>
                        <a href="/town/{{ town.name }}">
                            {% if town.name|has_town_banner != None %}
                                {% with image=town.name|has_town_banner %}
                                    {% if image.banner %}
                                        <img src="{% thumbnail image.banner 500x300 detail %}" alt="dummy"/>
                                    {% else %}
                                        <img src="{% static 'images/town_sm.jpg' %}" alt="dummy"/>
                                    {% endif %}
                                {% endwith %}
                            {% else %}
                                <img src="{% static 'images/town_sm.jpg' %}" alt="dummy"/>
                            {% endif %}
                            <h3>{{ town.name }}
                                {% if town.owner.avatar_sm %}
                                    <img src="{% static 'media/' %}{{ town.owner.avatar_sm }}"
                                         class="avatar-sm img-rounded">
                                {% else %}
                                    <img src="{% static 'images/steve_sm.png' %}"
                                         class="avatar-sm img-rounded {{ town.owner.name }}">
                                    <script type="application/javascript">
                                        $(document).ready(function () {
                                            $.ajax({
                                                type: "GET",
                                                url: "/avatar/{{ town.owner.name }}",
                                                contentType: 'application/json',
                                                complete: function (xhr, status) {
                                                    if (status === 'error' || !xhr.responseText) {
                                                    }
                                                    else {
                                                        var data = JSON.parse(xhr.responseText);
                                                        var selector = ".{{ town.owner.name }}";
                                                        $(selector).fadeOut(500, function () {
                                                            $(selector).attr('src', data["path"]);
                                                            $(selector).fadeIn(500);
                                                        });
                                                    }
                                                }
                                            });
                                        })
                                    </script>
                                {% endif %}
                            </h3>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </section>

    </div>
    <!-- /container -->
    <script src="{% static 'js/masonry.pkgd.min.js' %}"></script>
    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'js/classie.js' %}"></script>
    <script src="{% static 'js/colorfinder-1.1.js' %}"></script>
    <script src="{% static 'js/gridScrollFx.js' %}"></script>

    <script>
        {% for alliance in alliances %}
            new GridScrollFx(document.getElementById('grid-{{ alliance.name }}'), {
                viewportFactor: 0.4
            });
        {% endfor %}
        new GridScrollFx(document.getElementById('grid-wildtowns'), {
            viewportFactor: 0.4
        });
    </script>

{% endblock %}