{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap_toolkit %}

{% block extra_head %}
    {{ form.media }}
    <!-- Important Owl stylesheet -->
    <link rel="stylesheet" href="{% static 'owl-carousel/owl.carousel.css' %}">

    <!-- Default Theme -->
    <link rel="stylesheet" href="{% static 'owl-carousel/owl.theme.css' %}">

    <!-- Include js plugin -->
    <script src="{% static 'owl-carousel/owl.carousel.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="jumbotron pvp">
        <h1>{{ town.name }}</h1>

        <h2>9 members</h2>
    </div>

    <div class="row">
        <div class="span3">
            <h2 class="title"><span>Citizens of {{ town.name }}</span></h2>

            <h3>Owner</h3>
            <img src="{% static 'images/Cryptite.png' %}"
                 class="img-rounded avatar"/> {{ town.owner }}

            <h3>Subowners</h3>
            <img src="{% static 'images/Cryptite.png' %}"
                 class="img-rounded avatar"/> Blah
            <img src="{% static 'images/Cryptite.png' %}"
                 class="img-rounded avatar"/> Blah2</h3>
        </div>

        <div class="span6">
            <h2 class="title"><span>Town Board</span></h2>

            <blockquote>
                <p>Avoid Psy at all costs!</p>
                <small>Message of the <cite title="Source Title">Day</cite></small>
            </blockquote>

            <p><img class="alignnone size-full wp-image-56 smoothimage" alt="5389106042_e2f25db733_b"
                    data-src="holder.js/500x300" width="500" height="300"></p>
        </div>

    </div>
{% endblock %}