@font-face {
    font-family: 'aleobolditalic';
    src: url('/static/fonts/aleo-bolditalic-webfont.eot');
    src: url('/static/fonts/aleo-bolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('/static/fonts/aleo-bolditalic-webfont.woff') format('woff'), url('/static/fonts/aleo-bolditalic-webfont.ttf') format('truetype'), url('/static/fonts/aleo-bolditalic-webfont.svg#aleobolditalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: aleoregular;
    src: url('/static/fonts/aleo-regular-webfont.eot');
    src: url('/static/fonts/aleo-regular-webfont.eot?#iefix') format('embedded-opentype'), url('/static/fonts/aleo-regular-webfont.woff') format('woff'), url('/static/fonts/aleo-regular-webfont.ttf') format('truetype'), url('/static/fonts/aleo-regular-webfont.svg#aleoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: aleobold;
    src: url('/static/fonts/aleo-bold-webfont.eot');
    src: url('/static/fonts/aleo-bold-webfont.eot?#iefix') format('embedded-opentype'), url('/static/fonts/aleo-bold-webfont.woff') format('woff'), url('/static/fonts/aleo-bold-webfont.ttf') format('truetype'), url('/static/fonts/aleo-bold-webfont.svg#aleobold') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    background-color: #f4f3f3;
    color: #636363;
    font-size: 16px;
    font-family: aleoregular, serif;
}

h1 {
    color: #666;
    font-family: aleobold;
}

a.inverse, a:visited {
    color: #4aaaa5;
}

.sitecontainer {
    float: none;
    overflow: hidden;
    margin: 0px auto;
    max-width: 1240px;
    height: auto;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.page-section {
    float: left;
    padding-bottom: 30px;
    width: 100%;
    background-color: #eaeaea;
    -webkit-animation: toLeftFromRight 0.9s forwards;
    -moz-animation: toLeftFromRight 0.9s forwards;
    animation: toLeftFromRight 0.9s forwards;
}

.grey {
    background-color: #dddcda !important;
}

.page-section lightgrey {
    padding-bottom: 0px;
    background-color: #f0efed !important;
}

/* ===== QUOTE SECTION ===== */

.quote {
    margin: auto;
    padding: 0px 10%;
    width: 70%;
}

.quoteimage {
    float: left;
    padding: 10px 1%;
    width: 16%;
}

.quoteimage img {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    border: 0;
}

.quotetext {
    float: right;
    padding: 10px 2%;
    width: 76%;
    font-weight: 300;
    font-size: 12px;
}

.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #f1f1f1;
    border-bottom-color: #f1f1f1;
}

.navbar-default .navbar-nav > .dropdown > a:hover .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}

.navbar-default {
    margin-bottom: 0px;
    border: 0px;
    background-color: #2a4bb2;
}

.navbar-nav {
    margin: 0px;
}

.navbar a {
    color: #eeeeee;
    font-size: 14px;
    font-size: 1.3em;
}

.navbar-default .navbar-nav > li {
    height: 60px;
    vertical-align: middle;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}

.navbar-nav > li > a {
    line-height: 35px;
}

.navbar-default .navbar-nav > li:hover {
    background-color: #387bc1;
}

.navbar-default .navbar-nav > li > a {
    color: #f1f1f1;
    font-size: 1.3em;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #fff;
    font-size: 1.3em;
}

.navbar-nav img {
    width: 30px;
    height: 30px;
}

.jumbotron {
    margin-bottom: 0;
    background: url('/static/images/darkspawn.jpg');
}

.intro {
    margin-top: 200px;
    box-shadow: 0px 0px 20px 10px #CCCCCC;
}

.jumbotron img {
    margin-right: auto;
    margin-left: auto;
    padding: 0px;
}

.jumbotron h1,
.jumbotron h2,
.jumbotron h3 {
    color: #ffffff;
    text-align: center;
    text-shadow: 0 1px 10px rgba(0, 0, 0, 1), 0 0 30px rgba(0, 0, 0, .4);
    font-family: aleoregular;
}

.jumbotron .town {
    font-size: 6em;
}

.jumbocontents {
    margin-top: 10px;
}

.register {
    background: url('/static/images/bg_joc.jpg');
}

.pvp {
    background: url('/static/images/arena.jpg');
}

.thumbnail {
    min-height: 500px;
    border: 0px;
}

.avatar {
    margin-left: 10px;
    max-width: 32px;
    max-height: 32px;
    width: 32px;
    height: 32px;
}

.media-body h1 {
    font-size: 5em;
}

.media-body h3 {
    margin-top: 0px;
    color: #b3b3b3;
    font-size: 2.3em;
}

.media-body small {
    font-size: .7em;
}

.rating {
    margin-bottom: 0px;
    padding-bottom: 0px;
    color: #5f5f5f;
    font-size: 5em;
}

.stats h1 {
    font-size: 3em;
}

.stats h2 {
    color: #3d3d3d;
}

.stats small {
    font-size: 1em;
}

.registerform {
    width: 35%;
}

.townboard h1 {
    background: #fff;
    font-family: aleobold, Arial, sans-serif;
}

.townboard {
    background: url("/static/images/bg_vota.jpg");
}

.container {
    max-width: 1250px;
}

.container .jumbotron {
    border-radius: 0px;
}

/* intro icons */
.introicons {
    position: relative;
    margin: 60px 0px;
    padding: 14px;
    border-radius: 5px;
    background-color: #fbfbfb;
    cursor: pointer;
}

.introicons i {
    position: absolute;
    top: 0px;
    left: 50%;
    margin: -60px 0px 0px -60px !important;
    padding: 10px !important;
    padding: 0px !important;
    width: 130px;
    height: 130px;
    border: 10px solid #eaeaea;
    border-radius: 50%;
    color: #f4f4f4;
    font-size: 50px;
    line-height: 100px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.introicons img {
    margin-top: -1px;
    margin-left: -1px;
    width: 115px;
    height: 115px;
}

.introicons:hover > i {
    border: 10px solid #5c8aaa;
}

.introicons h6 {
    margin: 70px 0px 20px 0px;
    color: #666666;
    font-weight: 400;
    font-size: 44px;
    font-family: aleobold;
}

.introicons p {
    color: #A8A8A8;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}

.icon-wall {
    background: url('/static/images/wal.png');
}

.icon-sword {
    background: url('/static/images/sword.png');
}

.icon-emerald {
    background: url('/static/images/emerald.png');
}

.icon-paper {
    background: url('/static/images/paper.png');
}

.icon-ghast {
    background: url('/static/images/ghast.png');
}

.icon-chest {
    background: url('/static/images/chest.png');
}

.feature {
    position: relative;
    margin: 20px 10px;
    padding: 14px;
    border-radius: 5px;
    background-color: #fbfbfb;
    cursor: pointer;
}

.feature i {
    position: absolute;
    top: 50%;
    padding: 10px !important;
    padding: 0px !important;
    width: 90px;
    height: 90px;
    border: 5px solid #eaeaea;
    border-radius: 50%;
    color: #f4f4f4;
    font-size: 50px;
    line-height: 100px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.feature-left i {
    left: 0px;
    margin: -45px 0px 0px -45px !important;
}

.feature-right i {
    right: 0px;
    margin: -45px -45px 0px 0px !important;
}

.feature:hover > i {
    border: 5px solid #2a7caa;
}

.feature img {
    margin-top: -20px;
    margin-left: -3px;
    width: 88px;
    height: 88px;
}

.feature h3 {
    margin-top: 5px;
    margin-left: 30px;
}

.feature-left p {
    margin-left: 40px;
}

.feature-right p {
    margin-right: 35px;
}

.span7 {
    float: left;
    margin-left: 30px;
    width: 900px;
}

.span6 {
    float: left;
    margin-left: 40px;
    width: 600px;
}

.span5 {
    float: left;
    margin-left: 40px;
    width: 450px;
}

.span3 {
    float: left;
    margin-left: 50px;
    width: 340px;
}

.span2 {
    float: left;
    margin-left: 30px;
    width: 250px;
}

/* ===== TEAM MEMBERS SECTION ===== */

.teammember {
    position: relative;
    float: left;
    margin: 10px 25px 50px;
    width: 250px;
    border-bottom: 1px solid #fff;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: white;
    -webkit-transition: border .3s ease-in-out;
    -moz-transition: border .3s ease-in-out;
    -o-transition: border .3s ease-in-out;
    transition: border .3s ease-in-out;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -border-radius: 5px;
}

.teammember > i {
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin: 0px 0px -15px -15px;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    color: #999;
    color: white;
    font-size: 12px;
    line-height: 30px;
}

.teammember:hover {
    border-bottom: 1px solid #4aaaa5;
}

.teamimagewrap {
    overflow: hidden;
    width: 100%;
    height: 180px;
}

.teamimagewrap img {
    width: 100%;
    height: auto;
    border: 0;
    border-radius: 5px 5px 0px 0px;
}

span.teamposition {
    float: left;
    padding: 0px 0px 15px 0px;
    width: 100%;
    color: #939393;
    font-weight: 400;
    font-size: 14px;
}

.town-public img {
    width: 25px;
    height: 25px;
    background-color: #4aaaa5;
    color: #252525;
}

.media img {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    background-color: #4aaaa5;
}

.smallportfolioshortcode {
    overflow: hidden;
    height: 160px;
}

.title {
    margin-top: 0px;
    margin-bottom: 30px;
    border-bottom: 4px dotted #DFDFDF;
    font-family: aleoregular;
}

.title-sm {
    margin-top: 0px;
    margin-bottom: 20px;
    border-bottom: 2px dotted #DFDFDF;
    font-family: aleoregular;
}

.title small {
    font-size: 14px;
}

.title span {
    display: inline-block;
    margin-bottom: -4px;
    padding: 15px;
    border-bottom: 4px solid #2a7caa;
}

.title-sm span {
    display: inline-block;
    margin-bottom: -2px;
    padding: 5px;
    border-bottom: 2px solid #2a7caa;
}

.btn-primary {
    border: 0px;
    border-radius: 2px;
    background-color: #006dcc;
    background-image: none !important;
    -webkit-box-shadow: 0 -3px #08479E inset;
    -moz-box-shadow: 0 -3px #08479E inset;
    box-shadow: 0 -3px #08479E inset;
    color: #ffffff !important;
    text-shadow: none;
    font-weight: 600;
    font-family: aleoregular;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#006dcc', endColorstr='#006dcc', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -o-box-shadow: 0 -3px #08479E inset;
}

.btn-primary:hover {
    background-color: #08479E;
}

.btn-success {
    border: 0px;
    border-radius: 2px;
    background-color: #AFD66D;
    background-image: none !important;
    -webkit-box-shadow: 0 -3px #8FB94F inset;
    -moz-box-shadow: 0 -3px #8FB94F inset;
    box-shadow: 0 -3px #8FB94F inset;
    color: #ffffff !important;
    text-shadow: none;
    font-weight: 600;
    font-family: aleoregular;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#AFD66D', endColorstr='#AFD66D', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -o-box-shadow: 0 -3px #8FB94F inset;
}

.btn-success:hover {
    background-color: #9DCB57;
}

.btn-warning {
    border: 0px;
    border-radius: 2px;
    background-color: #e5a979;
    background-image: none !important;
    -webkit-box-shadow: 0 -3px #DD6F47 inset;
    -moz-box-shadow: 0 -3px #DD6F47 inset;
    box-shadow: 0 -3px #DD6F47 inset;
    color: #ffffff !important;
    text-shadow: none;
    font-weight: 600;
    font-family: aleoregular;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5a979', endColorstr='#e5a979', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -o-box-shadow: 0 -3px #DD6F47 inset;
}

.btn-warning:hover {
    background-color: #DD6F47;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 10px;
    height: 40px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #555555;
    vertical-align: middle;
    font-size: 14px;
    line-height: 20px;
}

.fullwidth {
    display: block;
    margin: 0 !important;
    padding: 8px 1% !important;
    width: 97%;
    border: 0px !important;
    border-bottom: 1px solid #DDDDDD !important;
    -webkit-border-radius: 2px !important;
    -moz-border-radius: 2px !important;
    border-radius: 2px !important;
    background-color: white !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    font-size: 14px !important;
    -ms-border-radius: 2px !important;
    -o-border-radius: 2px !important;
}

img.smoothimage {
    margin: auto;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border-radius: 5px !important;
    -ms-border-radius: 5px !important;
    -o-border-radius: 5px !important;
}

img.avatar-sm {
    width: 30px;
    height: 30px;
}

.footer {
    float: left;
    padding: 10px;
    width: 100%;
    background-color: #212f43;
}

.copyright {
    padding: 40px 0px 30px 0px;
    color: #6E727A;
    text-align: center;
    font-size: 18px;
    font-family: aleobold;
}

.copyright img {
    margin: 30px;
    border: 5px solid #2e415d;
    border-radius: 50%;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.copyright img:hover {
    border: 5px solid #2a7caa;
}

/* ===== BLOG SECTION ===== */

.theblogpost {
    float: left;
    overflow: hidden;
    width: 100%;
    height: auto;
}

.theblogpost h3 {
    margin: 0px;
    margin-bottom: 5px;
    padding: 0px;
    border-bottom: 2px dotted #DFDFDF;
    color: #666666;
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
}

.theblogpost h3 a {
    color: #666666;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.theblogpost h3 a:hover {
    color: #4aaaa5;
}

.theblogpost h3 span {
    display: inline-block;
    margin-bottom: -1px;
    padding-bottom: 10px;
    border-bottom: 2px solid #2a7caa;
}

.blogicons {
    position: absolute;
    top: 0px;
    left: -16px;
    padding: 0px 7px 8px 3px;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #252525;
    text-align: center;
    font-size: 14px;
    line-height: 26px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.postcount {
    position: absolute;
    top: 0px;
    left: -20px;
    padding: 0px 7px 8px 3px;
    width: 40px;
    height: 50px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #252525;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.postcount small {
    font-size: 14px;
}

.bloginnerwrap {
    position: relative;
    float: right;
    margin-left: 3%;
    padding-left: 3%;
    width: 97%;
    border-left: 1px solid #2a7caa;
}

.bloginnerwrap p {
    padding-bottom: 15px;
}

.bloginnerwrap p img {
    width: 20px;
    height: 20px;
}

.bloginnerwrap h3 {
    font-size: 20px !important;
}

.blogpost-image {
    background-color: #2a7caa;
}

.blogpost-image p {
    margin-top: 5px;
    margin-left: 1px;
    color: #f6f6f6;
    font-weight: 400;
    font-size: 20px;
    font-family: aleobold;
}

.post-avatar {
    margin-left: -2px;
}

.newthread {
    margin-top: 20px;
}

.thread-category-wrap {
    margin-bottom: 5px;
    margin-left: 10px;
    padding: 7px;
    max-height: 55px;
    border-radius: 5px;
    background-color: #5071b2;
}

.thread-category-wrap h3 {
    border: 0px;
    color: #f1f1f1;
    font-family: aleobold;
}

.section-header h1 {
    margin: 25px auto 0px;
    width: 70%;
    font-size: 1.5em;
}

.login {
    margin-bottom: 15px;
}

.reg-avatar {
    width: 150px;
    height: 150px;
}

.reg-header h1 {
    font-size: 3em;
}

.townnav {
    margin-top: 5px;
}

strong {
    font-weight: 600;
}

#getting-started {
    color: #ffffff;
    text-align: center;
    text-shadow: 0 1px 10px rgba(0, 0, 0, 1), 0 0 30px rgba(0, 0, 0, .4);
    font-family: aleobold;
    font-size: 4em;
    text-align: center;
}